/* Lane styles */

.Lane {
  display: inline-block;
  align-items: flex-start;
  border: 1px solid #000;
  border-radius: 6px;
  width: 230px;
  margin: 15px;
  text-align: center;
  padding: 10px;
  margin: 5px; 
}
